*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  body{
      display: flex;
      height: 100vh;
      justify-content: center;
      align-items: center;
      padding: 10px;
      background-image: url("img/register_bg.jpg");
  }
  .container{
      max-width: 700px;
      width: 100%;
      background: white;
      padding: 25px 30px;
      border-radius: 15px;
      opacity: 90%;
  }
  .container .title{
      font-size: 25px;
      font-weight: 500;
      position: relative;
  }
  .container .title::before{
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 3px;
      width: 30px;
      background: linear-gradient(#b71cb5, #630994);
  }
  .container form .user-details{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 20px 0 12px 0; 
  } 
  form .user-details .input-box{
      margin-bottom: 0;
      width: calc(100% / 2 - 20px);
  }
  .user-details .input-box .details{
      display: block;
      font-weight: 500;
      font-size: 18px;
      margin-bottom: 5px;
  }
  .user-details .input-box input{
      height: 30px;
      width: 100%;
      outline: none;
      border-radius: 5px;
      border: 1px solid #ccc;
      padding-left: 15px;
      font-size: 15px;
      border-bottom-width: 2px;
      transition: all 0.3s ease;
  }
  .user-details .input-box input:focus,
  .user-details .input-box input:valid{
      border-color: #9b59b6;
  }
  form .button{
      height: 45px;
      margin: 25px 0;
  }
  form .button input{
      height: 100%;
      width: 100%;
      outline: none;
      color: white;
      border: none;
      font-size: 18px;
      font-weight: 500;
      border-radius: 5px;
      letter-spacing: 1px;
      background: linear-gradient(#b71cb5, #630994);
      align-items: center;
      justify-content: center;
      text-align: center;
  }
  form .button input:hover{
      background: linear-gradient(#630994, #b71cb5);
  }
  ::placeholder{
      color: #bfbcbb;
      transition: all 0.5s ease;
  }
  input:focus::placeholder {
      color: transparent;
  }

  .error{
      color: red;
  }

  @media (max-width: 584px){
      .container{
          max-width: 100%;
      }
      form .user-details .input-box{
          margin-bottom: 15px;
          width: 100%;
      }
      .container form .user-details{
          max-height: 300px;
          overflow-y: scroll;
      } 
      .user-details::-webkit-scrollbar{
          width: 0;
      }
  }